*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
	background-color: #fff;
}

body{
	font-size: 1.5rem;
	font-family: Lato;
	font-weight: $medium;
}

.svg-wrapper{
	display: none;
}

img{
	max-width: 100%;
	height: auto;
}

main{
	padding-top: 75px;
}

.woocommerce-product-search{
	
	background-color: $grisclair;
	border-radius: 20px;

	input{
		border:0;
		background-color: transparent;
		padding: 13px 25px;
		font-family: inherit;
		font-size: 1.3rem;
		color: $bleu;
		
		&::placeholder{
			color: $gris;
		}
	}
	
	// Au focus du input, l'icon search change de couleur
	input:focus + button svg{
		fill: $bleu;
	}
	
	button{
		background-color: transparent;
		border:0;
		font-family: inherit;
		margin-right: 10px;
	}
	
	svg{
		transition: fill ease .3s;
		width: 20px;
		height: 20px;
		position: relative;
		top: 5px;
		fill: $gris;
	}
}

@mixin bt($fond, $color, $taille){
	transition: all ease .3s;
	background-color: $fond;
	color: $color;
	font-size: $taille;
	font-weight: $bold;
	text-decoration: none;
	padding: 1.3em 3em;
	display: inline-block;
	border-radius: 35px;
	position: relative;
	
	&:hover{
		padding: 1.3em 3.6em;
		background-color: darken($fond, 5%);
	}
}

section.commun-header{
	min-height: 40vh;
	
	h1{
		font-size: 6rem;
	}
	
	p{
		font-size: 1.5rem;
		line-height: 1.4em;
	}
}

.content-wrapper{
	display: flex;
	
	nav{
		padding: $padding;
		background-color: $grisclair;
	}
	
	.content{
		padding: $padding;
	}
}