*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
	background-color: #fff;
}

body{
	font-size: 1.5rem;
	font-family: Lato;
	font-weight: $medium;
}

.svg-wrapper{
	display: none;
}

main{
	padding-top: 75px;
}

.woocommerce-product-search{
	
	background-color: #ececec;
	border-radius: 20px;

	input{
		border:0;
		background-color: transparent;
		padding: 13px 25px;
		font-family: inherit;
		font-size: 1.3rem;
		color: $bleu;
		
		&::placeholder{
			color: $gris;
		}
	}
	
	// Au focus du input, l'icon search change de couleur
	input:focus + button svg{
		fill: $bleu;
	}
	
	button{
		background-color: transparent;
		border:0;
		font-family: inherit;
		margin-right: 10px;
	}
	
	svg{
		transition: fill ease .3s;
		width: 20px;
		height: 20px;
		position: relative;
		top: 5px;
		fill: $gris;
	}
}

@mixin bt($fond, $color, $taille){
	transition: all ease .3s;
	background-color: $fond;
	color: $color;
	font-size: $taille;
	font-weight: $bold;
	text-decoration: none;
	padding: $padding/1.75 $padding*1.5 $padding/1.7;
	display: inline-block;
	border-radius: 35px;
	position: relative;
	
	&:hover{
		padding: $padding/1.75 $padding*1.8 $padding/1.7;
		background-color: darken($fond, 5%);
	}
}