.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: $bold;
	font-size: 1.4rem;
	position: fixed;
	background-color: #fff;
	width: 100%;
	z-index: 100;
}

.logo{
	padding: 15px $padding;
	
}

	.logo-img{
		width: 200px;
	}

.nav{
	
	flex:2;
	
	li{
		display: inline;
		text-transform: uppercase;
	}
	
	a{
		display: inline-block;
		transition: color ease .3s;
		color: $gris;
		text-decoration: none;
		padding: 15px 12px;
		
		&:hover{
			color: $bleu;
		}
	}
	
	.current_page_item{
		a{
			color: $bleu;
			font-weight: $black;
		}
	}
	

}

//Menu responsive

@include width-below(800px){

		
 	.nav{
		border: 1px solid $grisclair;
		position: absolute;
		order: 5;
		top: 73px;
		left: 0;
		background: #fff;
		width: 100vw;
		text-align: center;
		padding: 0 $padding;
		
		a{
			padding: 15px 8px;
		}
	}
}

.header-phone{
	display: inline-block;
	transition: color ease .3s;
	color: $gris;
	text-decoration: none;
	padding: 15px $padding/2;
	position: relative;
	border-right: 1px solid $grisclair;
	margin-right: $padding/2;
	
	svg{
		transition: fill ease .3s;
		width: 25px;
		height: 25px;
		fill: $gris;
		margin-right: 10px;
		position: absolute;
		top: 10px;
		left: -15px;
	}
	
	&:hover{
		color: $bleu;
		
		svg{
			fill: $bleu;
		}
	}
	
	@include width-below(1350px){
		display: none;
	}
}

.header form{
	margin-right: $padding/2;
}

.header-devis{
	transition: background-color ease .3s;
	background-color: $vert;	
	color: #fff;
	display: inline-block;
	padding: 25px $padding; //Le 25 est au pif, faudrait faire ça mieux
	text-transform: uppercase;
	text-decoration: none;
	
	span{
		display: inline-block;
		vertical-align: middle;
	}
	
	svg{
		display: inline-block;
		vertical-align: middle;
		height: 25px;
		width: 25px;
		fill: #fff;
		margin-left: 5px;
	}
	
	&:hover{			
		background-color: $bleu;
		
		.count-devis{
			background-color: $vert;
		}
	}
	
	@include width-below(1200px){
		
		padding: 25px 45px 25px 35px;
		
		.titre-devis{
			display: none;
		}
	}
	
	@include width-below(800px){
		
		background-color: #fff;
		padding: 25px $padding 25px 10px;
		
		svg{
			fill: #4a4a4a;
		}
		
		&:hover{
			background-color: #fff;
		}
	}
	
}


// Search top
	
.header .woocommerce-product-search{
	
	@include width-below(990px){	
		display: none;
	}
	
	.search-field{
		@include width-below(1100px){
			width: 125px;
		}
	}

}


// Cart


.wrapper-cart{
	position: relative;
}

.count-devis{
	transition: background-color ease .3s;
	position: absolute;
	font-size: 1.2rem;
	font-weight: $black;
	background-color: $bleu;
	border-radius: 100%;
	padding: 5px;
	top: -7px;
	right: -12px;
	min-height: 23px;
	min-width: 23px;
	text-align: center;
}