%h2{
	font-size: 3rem;
	margin-bottom: .5em;
	font-weight: $black;
	line-height: 1.1em;

	@include width-below(500px){
		font-size: 2.5rem;
	}
}

.content{
	
	p, li{
		max-width: 800px;
		line-height: 1.35em;
		color: #767676;
	}
	
	p + p,
	p + h3,
	p + h2{
		margin-top: .85em;
	}
	
	h2{
		@extend %h2;
	}
	
	h3{
		font-size: 1.8rem;
		margin-bottom: .5em;
		font-weight: $black;
	}
	
	li{
		list-style: disc;
	}
	
	strong{
		font-weight: bold;
	}
	
	a{
		transition: color ease .2s;
		color: $bleu;
		
		&:hover{
			color: darken($bleu, 20%);
		}
	}
}