.content{
	
	p{
		max-width: 800px;
		line-height: 1.35em;
		margin: 0 auto;
	}
	
	h2{
		font-size: 3rem;
		margin-bottom: .5em;
		font-weight: $black;
	}
	
	h3{
		font-size: 1.8rem;
		margin-bottom: .5em;
		font-weight: $black;
	}
}