.shop_table{
	
	td{
		border: 1px solid $grisclair;
		vertical-align: middle;
		padding: $padding/2;
		
		@include width-below(600px){
			padding: $padding/3;
			//display: block;
		}
	}
	
	img{
		max-width: 100px;
		
		@include width-below(600px){
			max-width: 100%;
		}
	}
	
	.product-name{
		a{
			transition: color ease .3s;
			color: inherit;
			text-decoration: none;
			margin-bottom: .5em;
			display: inline-block;
			line-height: 1.3em;
			
			&:hover{
				color: $bleu;
			}
		}
	}
	
	.product-thumbnail{
		@include width-below(450px){
			display: none;
		}	
	}
	
	.product-remove{
		svg{
			transition: fill ease .3s;
			width: 23px;
			height: 23px;
			fill: $gris;
		}
		
		a:hover svg{
			fill: $bleu;
		}
	}
	
	.variation{
		dt, dd{
			display: inline-block;
			color: $gris;
			font-size: 1.25rem;
		}
	}
	
	.quantity{
		input{
			font-family: inherit;
			font-size: 1.4rem;
			line-height: 1em;
			display: inline-block;
			padding: 1em 1em 1em 2em;
			border-radius: 35px;
			border: 0;
			width: 80px;
			height: 100%;
			text-align: center;
			background-color: #eee;
		}
	}
	
	
	//le bouton refresh
	.actions .button{
		@include bt($grisclair, inherit, 1.1rem);
		border:0;
		cursor: pointer;
		font-weight: $medium;
		position: relative;
		padding-left: 50px;
		
		svg{
			transition: left ease .3s;
			height: 20px;
			width: 20px;
			position: absolute;
			left: 25px;
			top: calc(50% - 10px);
			fill: #666;
		}
		
		&:hover{
			padding: 1.3em 3.6em 1.3em 70px;
			
			svg{
				left: 45px;
			}
		}
	}
}

.cart_template{
	
	display: block;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	
	p{
		max-width: 100%;
	}
	
	.shop_table{
		margin: 0 auto;
		width: 100%;
	}
	
	.woocommerce{	
		
		form{
			margin-bottom: $padding;
		}
		
		.product-name{
			text-align: left;
		}
	}
	
	.woocommerce-billing-fields{
		margin: 40px 0 0;
		
		h3{
			margin-bottom: 20px;
		}
		
		.input-text{
			transition: border ease .3s;
			font-family: inherit;
			font-size: 1.4rem;
			line-height: 1.2em;
			display: inline-block;
			padding: 1em 25px;
			border-radius: 35px;
			border: 1px solid #c6c6c6;
			background-color: #fff;
			width: 100%;
			
			&:focus{
				border: 1px solid $bleu;
			}
		}
		
		.form-row{
			text-align: left;
			width: calc(50% - 12px);
			
			margin-bottom: 20px;
			
			label{
				display: block;
				margin-bottom: 5px;
				margin-left: 25px;
			}
		}
		
		.required{
			font-weight: $black;
			color: $bleu;
		}
		
		#billing_first_name_field,
		#billing_last_name_field,
		#billing_address_1_field,
		#billing_address_2_field,
		#billing_city_field,
		#billing_postcode_field,
		#billing_company_field,
		#billing_email_field{
			display: inline-block;
		}
		
		#billing_first_name_field,
		#billing_address_1_field,
		#billing_city_field,
		#billing_company_field{
			margin-right: 20px;
		}
		
		p + p{
			margin-top: 0;
		}
		
		@include width-below(700px){
			p{
				width: 100% !important;
				margin-right: 0 !important;
			}
		}
	
	}
	
	.woocommerce-shipping-fields{
		#order_comments_field{
			textarea{
				width: 100%;
				transition: border ease .3s;
				font-family: inherit;
				font-size: 1.4rem;
				line-height: 1.2em;
				display: inline-block;
				padding: 1em 25px;
				border-radius: 20px 20px 0;
				border: 1px solid #c6c6c6;
				background-color: #fff;
				resize: vertical;
				min-height: 100px;

				&:focus{
					border: 1px solid $bleu;
				}
			}
			label{
				text-align: left;
				display: block;
				margin-bottom: 5px;
				margin-left: 25px;
			}
		}
	}
	
	#order_review_heading{
		display: none;
	}
	
	//Bouton pour valider la commande
	#place_order{
		@include bt($bleu, #fff, 1.4rem);
		border: 0;
		cursor: pointer;
		margin-top: 30px;
	}
}

.page-template-template-cart-php .woocommerce-message{
	margin-bottom: 30px;
}