.wraProductHaut{
	display: flex;
	
	@include width-below(1200px){
		flex-direction: column;
	}
	
	.product_meta{
		margin-top: 1em;
		color: #767676;
		font-weight: $bold;
	}
}

.imgs-wrapper{
	border-right: 1px solid $grisclair;
	position: relative;
	
	@include width-below(1200px){
		order: 2;
	}
	
	.images{
		text-align: center;
	}
	
	a.woocommerce-main-image{
		display: block;
		padding: $padding;
		//border-bottom: 1px solid $grisclair;
	}
	
	.attachment-shop_single{
		
		max-height:  600px;
		max-width:  100%;
	}
	
	.thumbnails{

		position: absolute;
		bottom: $padding/2;
		left: $padding/2;
		right: $padding/2;
		border: 1px solid rgba($grisclair, .8);
		
		a{
			transition: opacity ease .2s;
			width:25%;
			padding: $padding/2;
			background-color: #fff;
			opacity: .8;
			
			&:hover{
				opacity: 1;
			}
			
			img{
				max-height: 75px;
				width: auto;
			}
		}
		
		a + a{
			border-left: 1px solid rgba($grisclair, .8);
		}

	}
}

.rightProduct{
	display: flex;
	width: 100%;
	flex-direction: column;
	
	.single_add_to_cart_button{
		@include bt($vert, #fff, 1.4rem);
		border-radius: 0 35px 35px 0;
		border:0;
		cursor: pointer;
		font-family: inherit;
		line-height: 1em;
		padding: 1em 1.6em 1em 1em;
		
		&:hover{
			padding: 1em 2.1em 1em 1.5em;
		}
		
		&[disabled="disabled"]{
			opacity: .6;
		}
		
		*{
			display: inline-block;
			vertical-align: middle;
		}
	}
	
	.qty{
		font-family: inherit;
		font-size: 1.4rem;
		line-height: 1em;
		display: inline-block;
		padding: 1em 1em 1em 2em;
		border-radius: 35px 0 0 35px;
		border: 0;
		width: 80px;
		height: 100%;
		text-align: center;
	}
	
	.wrap_qty,
	.variations_button{
		display: inline-flex;
		align-items: stretch;
		
		svg{
			width: 20px;
			height: 20px;
			fill: #fff;
		}
		
		span{
			margin-left: 10px;
		}

	}
	
	.variations{
		
		margin: 0 auto 10px;
		width: 100%;
		
		tr{
			display: block;
		}
		
		td{
		}
		
		.label{
			display: block;
			font-size: 1.5rem;
			color: #fff;
			font-weight: $bold;
			margin-bottom: 5px;
		}
		
		select{
			font-family: inherit;
			font-size: 1.25rem;
			padding: .6em 1.2em .7em;
		}
	}
}

.top_Rproduct{
	padding: $padding;
	
	h1{
		font-size: 4rem;
		margin-bottom: .5em;
		font-weight: 900;
		line-height: 1.25em;
		
		@include width-below(500px){
			font-size: 3rem;
		}
	}
	
	&.content p + p{
		margin-top: .5em;
	}
}

.bottom_Rproduct{
	padding: $padding;
	background-color: $bleu;
}

.wc-tabs-wrapper{
	background-color: #f8f8f8;
	padding: $padding;
}

// Tabs description

.wc-tabs{
	
	border-bottom: 1px solid $gris;
	margin-bottom: 30px;
	
	@include width-below(500px){
		font-size: 1.2rem;
		
		a{
			padding: 20px 10px;
		}
	}
	
	li{
		display: inline-block;
	}
	
	.description_tab{
		margin-left: 10px;
	}
	
	a{
		transition: opacity ease .2s, color ease .2s;
		display: block;
		padding: 20px 30px;
		border-radius: 20px 20px 0 0;
		text-decoration: none;
		color: inherit;
		font-weight: $bold;
	}
	
	:not(.active) a{
		opacity: .5;
		
		&:hover{
			color: $bleu;
		}
	}
	
	.active a{
		border: 1px solid $gris;
		border-bottom: 1px solid #f8f8f8;
		position: relative;
		top: 1px;
	}	
}

.content-wrapper .contentDescription{
	padding: 0;
}



.related{
	h2{
		font-size: 3rem;
		margin-bottom: .5em;
		font-weight: 900;
		padding-left: $padding;
		margin: 40px 0 25px;
	}
	
	ul.products li.product{
		border-top: 1px solid $grisclair;
	}
}

.shop_attributes{
	th{
		font-weight: $bold;
		padding-right: 3px;
		
		&::after{
			content: ' : ';
		}
	}
}

.rightProduct{
	display: flex;
	justify-content: space-between;
}

.woocommerce-variation-description{
	margin-top: 30px;
	margin-bottom: 30px;
	color: #fff;
}