.header > *{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}


.ie .big-header{
	
	.bigHeader-fond{
		
		div + div{
			display: none;
		}
	}
	
}

.ie .about-home ul li{
	display: table-cell;
	width: 25%;
}