.header > *{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.header-phone{
	display: none !important;
}

.header-devis{
	float: right;
}

.ie .big-header{
	
	.bigHeader-fond{
		
		div + div{
			display: none;
		}
	}
	
}

.ie .about-home ul li{
	display: table-cell;
	width: 25%;
}