.ie{

	.header > *{
		display: inline-block;
		vertical-align: middle;
		position: relative;
	}

	.header-phone{
		display: none !important;
	}

	.header-devis{
		float: right;
	}

	.big-header{

		.bigHeader-fond{

			div + div{
				display: none;
			}
		}

	}

	.about-home ul li{
		display: table-cell;
		width: 25%;
	}
	
	
	.sidemenu{
		width: 300px;
		display: table-cell;
		vertical-align: top;
	}
	
	.cat_grid,
	.about{
		display: table-cell;
		vertical-align: top;
	}
	
	.woocommerce ul.products li.product{
		display: inline-block;
		vertical-align: top;
	}
	
	.quantity{
		float: left;
	}
	
	.imgs-wrapper,
	.rightProduct{
		display: table-cell;
		vertical-align: top;
	}
	
	.big-header{
		overflow: hidden;
	}
	
}