@import "signature";

@import "reset";
@import "breakpoints";

$padding: 45px;

$bleu: #1077b8;
$vert: #88ba25;
$gris: #aaa;
$grisclair: #e5e5e5;
$grisfonce: #555;

$medium: 500;
$bold: 700;
$black: 900;

@import "general_layout";
@import "sidebar";
@import "typo";
@import "header";

@import "home";
@import "about";
@import "contact";

@import "woocommerce";
@import "woocommerceCart";
@import "woocommerceProduct";

@import "flickity";
